<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Registro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Registro.Properties.Settings>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpaceBetweenTurns" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MorningEntry" serializeAs="String">
                <value>12:00</value>
            </setting>
            <setting name="MorningExit" serializeAs="String">
                <value>15:00</value>
            </setting>
            <setting name="AfternoonEntry" serializeAs="String">
                <value>19:30</value>
            </setting>
            <setting name="AfternoonExit" serializeAs="String">
                <value>23:00</value>
            </setting>
            <setting name="ChangeTime" serializeAs="String">
                <value>18:00</value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFileName" serializeAs="String">
                <value>Empleados</value>
            </setting>
            <setting name="DataBaseActualized" serializeAs="String">
                <value>False</value>
            </setting>
        </Registro.Properties.Settings>
    </userSettings>
</configuration>